.story-flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.story-flex-container img {
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.story-flex-container .caption {
    text-align: center;
    margin: 5px;
    font-size: large;
}

.story-flex-container .image-no {
    text-align: center;
    margin: 5px;
    font-size: large;
    font-weight: 700;
    color: #999;
}